
img{
  height: 150px;
  width: 150px;
  border-radius: 300px;
  display: flex;
}

img:hover{
  scale: 1.1;
  border: solid;
  transition: 0.5s;
}

.pai{
  display: flex;
  gap: 20px;
  margin-top: 3%;
margin-left: 10%;
}

.title{
  color: blue;
  display: flex;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.text{
  display: flex;
  color: gray;
  max-width: 300px;
  



}

.title2{
  color: blue;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}