body{
  background-image: url(img/c6a1f50a-65d1-40e2-961e-329496e20e57.jpg);
  background-size: cover;
background-repeat: no-repeat;

}


.title{
color: yellow;
font-size: 30px;
margin-left: 10%;
}


.text{
  color: white;
  margin-left: 10%;
  max-width: 500px;
}

.botton1{
  border: solid;
  border-color: orange;
  border-radius: 10px;
  max-width: 150px;
  padding: 5px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.botton1:hover{
  background-color: yellow;
  color: black;
  border-color: black;
  transition: 0.5s;
  scale: 1.1;
}

body{
  margin: 0;
}


header{
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  background-color: white;
}
.img{
  margin-left: 10%;
}
.numero{
  display: flex;
  margin-left: 50%;
  color: gray;
  margin-top: 30px;
}

.botton{
  display: flex;
  border: solid;
  border-color: #0080c1;
  border-radius: 10px;
  max-height: 30px;
 padding: 10px;
 color: blue;
 font-family: "Poppins", sans-serif;
 margin-left: 5%;
 font-size: 15px;
 align-items: center;
}

.botton:hover{
 
  background-color: blue;
  color: white;
  border-color: blue;
  transition: 0.7s;
  font-family: "Poppins", sans-serif; ;

}

.cabecalho{
  background-color:#4d88ff;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  
}
a{
  color: white;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}


.fundo{
  padding: 13px;
}

.fundo:hover{
  background-color:#7b8cbd;
  transition: 0.6s;
  cursor: pointer;
}